body {
  background-color: #20054A;
  font-family: 'Lato', sans-serif;
}

.header {
  color: #F26E64;
  font-size: 4rem;
  font-family: 'Marck Script', cursive;
}

.container {
  margin-top: 3rem;
}

.results {
  margin-top: 2rem;
}

.search-input {
  text-align: center;
  border-radius: 3rem !important;
  background-color: transparent;
  border-color: #F26E64;
  color: #F26E64;
}

.searchIcon {
  color: #F26E64;
}

.rand-button {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.rand-button a {
  border-radius: 3rem !important;
  background: transparent;
  border: 2px #fff solid;
}

.rand-button a:hover {
  background: #fff;
  color: #20054A;
  border: none;
}

.search-input:focus, .rand-button:focus {
  outline: none !important;
  box-shadow: none;
  border-color: #F26E64;
  background-color: transparent;
  color: #F26E64;
}

::-webkit-input-placeholder {
    color: #F26E64;
}
:-moz-placeholder {
    /* FF 4-18 */
    color: #F26E64;
}
::-moz-placeholder {
    /* FF 19+ */
    color: #F26E64;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #F26E64;
}
